<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" href="{{url_for('static', filename='img/logo2.png')}}">
    <!-- Owl-Carousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
    <!-- Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/23412c6a8d.js"></script>
    <title>Internsparks</title>
    {% block head %}
    {% block title %}{% endblock %}
    {% endblock %}
    <style>
        nav {
            position: -webkit-sticky;
            position: sticky;
            /* sticky or fixed are fine */
            position: fixed;
            top: 0;
            width: 100%;
            /* background: linear-gradient(to bottom, #000, #0003 70%,#0000); background when scroll is in the top */
            transition: background .2s; /* control how smooth the background changes */
        }

        nav.scrolled {
            background: #fff;
            box-shadow: 2px 2px 5px #aaa9a9;
        }

        nav.scrolled #nav-heading{
            color: #ff4449;
        }
        nav.scrolled #nav-link{
            color: #413c86;
        }
    </style>
</head>
<body>
    <nav class="navbar fixed-top bg-none navbar-expand-lg nav-fixed" style="padding: 10px;">
        <img src="{{url_for('static', filename='img/logo.png')}}" style="height: 50px; width: 50px; border-radius: 50%; margin: 0 20px;" alt="">
	    <h1 class="nav-link-icon" id="nav-heading"> Internsparks </h1>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" style="background: #413c85;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <!-- <img src="{{url_for('static', filename='img/logo.png')}}" style="height: 50px; width: 50px; border-radius: 50%; margin-left: 40px;" alt="">
	    <h1 class="nav-link-icon" id="nav-heading"> Internsparks </h1>   -->
            <ul class="navbar-nav nav ml-auto" style="padding: 0;">
                <li class="nav-item"><a id="nav-link" href="{{url_for('index')}}">Home</a></li>
                <li class="nav-item"><a id="nav-link" href="{{url_for('about')}}">About</a> </li>
                <li class="nav-item"><a id="nav-link" href="{{url_for('contact')}}">Contact</a></li>             
            </ul>
        </div>
    </nav>
    <div class="margin-div">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{ message }}</strong> 
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    

      {% block content %}

      {% endblock %}
    <script>
        var navbar = document.querySelector('nav')

            window.onscroll = function() {

            // pageYOffset or scrollY
            if (window.pageYOffset > 0) {
                navbar.classList.add('scrolled')
            } else {
                navbar.classList.remove('scrolled')
            }
        }
    </script>
    <script async src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script async  src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script async  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</body>
</html>