{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/faq.css')}}">
{% endblock %}

{% block content %}
<div class="container col-lg-6 col-md-10 col-sm-12" style="margin-top: 150px;">

    <h2 style="color: white;">Frequently Asked Question On Internsparks</h2>

    <button class="accordion">What is the importance of donation?</button>
    <div class="panel">
    <p>Donating to charity is an important mood booster. The knowledge that you are helping others gives you tremendous strength and, in turn, can make you feel happier and more fulfilled. Having the power to improve the lives of others is, for many, a privilege and something that comes with their own sense of duty.                    
    </p>
    </div>

    <button class="accordion">How easy is it to make donation?</button>
    <div class="panel">
    <p>
        Today there are numerous ways  to make that donation for your favorite purpose, from a checkbook to starting a foundation to entering your credit card number online. Your donation can come in all price ranges and packaged according to your preferences, your convenience, and the size of your wallet.                    
    </p>
    </div>

    <button class="accordion">What all social work are done by us?</button>
    <div class="panel">
    <p>We work in many field such as providing free education, helping elderly in old-age home, rebuilting damaged properties, Inhibiting hunger, buying clothes for poor, paying medical bills, providing shelters to homeless, having cleaning drives, etc.</p>
    </div>

    <button class="accordion">Why make donation to Internsparks?</button>
    <div class="panel">
    <p>We enable citizens to cooperate voluntarily to promote social values ​​and civic goals, which are important to them. We promote local initiatives and problem solving. We work in various fields: environment, health, poverty alleviation, education, etc.
    </p>
    </div>

    <button class="accordion">Is it safe to make donation on Internsparks?</button>
    <div class="panel">
    <p>
        Yes, it is absolutely safe to make donation to Intersparks, we work to help people. All the data of transaction done by the donors is strictly private.
    </p>    
    </div>

    <button class="accordion">How will I know that the money transfer was successful or not?</button>
    <div class="panel">
    <p>If your payment was successful then a message will appear on the screen confirming the same and you will also receive a receipt of the transaction on your email account.</p>
    </div>

    <button class="accordion">How do I report a bug?</button>
    <div class="panel">
    <p>If you find a bug in the app, please let us know right away so we can fix it as quickly as possible. Click on email given in footer, you will be directed to mail so that you can send your problem to us via email.</p>
    </div>
</div>
<!-- <div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<div class="circle4"></div> -->
<footer class="site-footer container-fluid" style="padding: 0;background-color: #2c285f;color: #fff;margin-top: 10%;"> 
    <div class="wrap-size-lg container-fluid" style="padding: 50px;"> 
        <div class="row grid-spacing-sm"> 
            <div class="footer-div col-lg-6 col-md-6 col-sm-12"> 
              <h2 style="font-size: 30px;color: white;font-size: 45px;text-decoration: underline;margin-bottom: 20px;">Internsparks</h2> 
                <ul class="footer-nav"> 
                    <li> 
                      <!-- <p style="padding: 10px 0;">“The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well.” ― Ralph Waldo Emerson</p> -->
                      <p style="padding: 10px 0;">“The best way to not feel hopeless is to get up and do something. Don’t wait for good things to happen to you. If you go out and make some good things happen, you will fill the world with hope, you will fill yourself with hope.” ― Barack Obama</p>
                      <!-- <p style="padding: 10px 0;">“No one is useless in this world who lightens the burdens of another.” ― Charles Dickens</p> -->
                      <!-- <p style="padding: 10px 0;">“No one has ever become poor by giving.” ― Anne Frank</p> -->
                    </li> 
                </ul> 
                <ul class="footer-nav" style="display: flex;"> 
                    <li> 
                        <a href="#"><i class="fab fa-facebook-square" style="font-size: 40px;color: white;margin: 0 20px 0 0;"></i></a> 
                    </li> 
                    <li> 
                        <a href="#"><i class="fab fa-instagram" style="font-size: 40px;color: white;margin: 0 20px;"></i></a> 
                    </li> 
                    <li> 
                        <a href="#"><i class="fab fa-twitter-square" style="font-size: 40px;color: white;margin: 0 20px;"></i> </a> 
                    </li> 
                    <li> 
                        <a href="#"><i class="fab fa-linkedin" style="font-size: 40px;color: white;margin: 0 20px;"></i></a> 
                    </li> 
                </ul> 
            </div> 
            <div class="footer-div col-lg-4 col-md-3 col-sm-6" style="padding-left: 5%;"> 
                <h5 style="color: white;margin-top: 30px; margin-bottom: 30px;">CONTACT INFO</h5>
                <ul class="footer-nav"> 
                    <!-- <li> 
                        <a rel="nofollow noreferrer" target="_blank" href="#"> About us </a> 
                    </li>
                    <li> 
                        <a rel="nofollow noreferrer" href="#"> Email us </a> 
                    </li> 
                    <li> 
                        <a href="#"> Github Repository </a> 
                    </li>  -->
                    <li> 
                        <span class="contact-icon"><i class="fas fa-map-marker-alt"></i></span>
                        <span class="contact-desc">XYZ main road Kashmere gate, Delhi, 110012</span>
                    </li>
                    <li> 
                        <span class="contact-icon"><i class="fas fa-at"></i></span>
                        <a class="contact-desc" href="mailto:punerva21@gmail.com">lorem@gmail.com</a>
                    </li>  
                    <li> 
                        <span class="contact-icon"><i class="fas fa-phone-volume"></i></span>
                        <span class="contact-desc">947-986-6XXX</span> 
                    </li>
                </ul> 
            </div> 
            <div class="footer-div col-lg-2 col-md-3 col-sm-6"> 
                <h5 style="color: white;margin-top: 30px; margin-bottom: 30px;">QUICK ACCESS</h5>
                <ul class="footer-nav"> 
                    <!-- <li> 
                        <a rel="nofollow noreferrer" target="_blank" href="#"> About us </a> 
                    </li>
                    <li> 
                        <a rel="nofollow noreferrer" href="#"> Email us </a> 
                    </li> 
                    <li> 
                        <a href="#"> Github Repository </a> 
                    </li>  -->
                    <li> 
                        <a rel="nofollow noreferrer" target="_blank" href="{{url_for('guide')}}"> Guide </a> 
                    </li>
                    <li> 
                        <a href="{{url_for('faq')}}"> FAQ's </a> 
                    </li>  
                    <li> 
                        <a href="#"> Github Repository </a> 
                    </li>
                </ul>
              <!-- <h5 style="color: white;margin-top: 30px; margin-bottom: 30px;">JOIN OUR SOCILA MEDIA</h5> -->
              <!-- <ul class="footer-nav" style="display: flex;"> 
                <li> 
                    <a href="#"><i class="fab fa-facebook-square" style="font-size: 40px;color: white;margin: 0 20px 0 0;"></i></a> 
                </li> 
                <li> 
                    <a href="#"><i class="fab fa-instagram" style="font-size: 40px;color: white;margin: 0 20px;"></i></a> 
                </li> 
                <li> 
                    <a href="#"><i class="fab fa-twitter-square" style="font-size: 40px;color: white;margin: 0 20px;"></i> </a> 
                </li> 
                <li> 
                    <a href="#"><i class="fab fa-linkedin" style="font-size: 40px;color: white;margin: 0 20px;"></i></a> 
                </li> 
            </ul>   -->
            </div>
        </div>
    </div> 
  </footer>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
    }
    </script>
{% endblock %}